html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("assets/background.png");
	background-size: 200px;
}

canvas {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	box-shadow: 0 0 40px black;
}